<!DOCTYPE html>
<!-- cSpell:disable -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/alnum_calc.css">
    <link rel="shortcut icon" href="../static/images/ifms_f_logo.jpg" type="image/x-icon">
    <title>TETI</title>
</head>
<header>
    <h3>Calculadora Alfanumérica</h3>
</header>

<body>
    <main>
        <form action="/alnum-calc" method="POST">
            <div class="expression-input">
                <input type="text" id="expression" name="expression" aria-describedby="mensage" autofocus required>
                <label for="expression" onclick="clean()">Limpar</label>
            </div>
            {% if mensage %}
            <div id="mensage" class="expression-text">Digite apenas valores Alfanuméricos</div>
            {% endif %}
            <div class="equal-signal" role="group">
                <button type="submit" id="equal-button">=</button>
            </div>
        </form>
        {% if binnary %}
        <h5>Resultado</h5>
        <div class="result">
            <span id="binnary">{{ binnary }}</span>
            <a class="copy-btn" onclick="copy()">Copiar</a>
        </div>
        {% endif %}
    </main>
    <script src="../static/js/alnum_calc.js" type="text/javascript"></script>
</body>

</html>